<div class="vcard">
	<div class="navbar_top">
		<%= link_to 'Resume', page_path('resume'), { class: 'button_top' } %>
		<%= link_to 'Projects', 'https://www.linkedin.com/in/efournier92', { class: 'button_top' } %>
		<%= link_to 'About', '', { class: 'button_rightmost' } %>
	</div>
	<%= image_tag("Portrait.png", size: "175") %>
	<div class="name">
		Eric Fournier
	</div>
	<div class="navbar_bottom_main">
		<div class="navbar_bottom">
			<%= link_to image_tag("Github.png"), 'https://github.com/efournier92', { class: 'button_bottom' } %>
			<%=	mail_to "efournier92@gmail.com", image_tag("Email.png"), { class: 'button_bottom' } %> 
			<%= link_to image_tag("LinkedIn.png"),'https://www.linkedin.com/in/efournier92', { class: 'button_bottom' } %>
			<%= link_to image_tag("Twitter.png"), 'https://twitter.com/e4nier92', { class: 'button_bottom' } %>
		</div>
	</div>
</div>
